@using GameService.Core;
@using Utils;
@using GameService.Business
@using GameService.Core;
@using CommonPage.DAL
@using WebGame.Models;
@{
    var ismobile = UrlTools.CheckMobile();
    var mediaurl = Config.MediaPathUrl + "bxh/";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="@(mediaurl)images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <title>Ta Là Đạo Sĩ Xuất Quan VTC</title>
    <meta name="description" content="Đua TOP Lực Chiến Cụm SV Mới: Bạch Long">
    <meta name="keywords" content="dao si,thần,linh,sư,nhap vai,môn phái,huyền thoại,thây ma,3d,game hay vtc,vtc,vng,funtap,soha,gamota,dang ky truoc">
    <meta property="og:site_name" content="Ta Là Đạo Sĩ Xuất Quan VTC - Đua TOP Lực Chiến Cụm SV Bạch Long">
    <meta property="og:type" content="website">
    <meta property="og:url" content="daosixuatquan.splay.vn/dua-top">
    <meta property="og:title" content="Ta Là Đạo Sĩ Xuất Quan VTC - Đua TOP Lực Chiến Cụm SV Cương Thi">
    <meta property="og:description" content="TOP 1 đang chờ Đạo trưởng ghi tên. Xem ngay BXH nào!">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image" content="@(mediaurl)images/sharefb.jpg">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@(mediaurl)css/reset.css">
    <link rel="stylesheet" href="@(mediaurl)css/base.css">

    <!-- anh sang bay -->
    <script src="@(mediaurl)js/createjs-2015.11.26.min.js"></script>
    <script src="@(mediaurl)js/f1_HTML5_20Canvas_2103.js"></script>
    <script src="@(mediaurl)js/createCanvas_2103.js"></script>

    <!--popup code-->
    <script type="text/javascript" src="@(mediaurl)js/jquery.min.js"></script>
    <link rel="stylesheet" href="@(mediaurl)css/vendor.css" />
</head>

<body onload="init();">

    <div id="wrapper" class="wrapper floatingDesktopTopLeft">
        <section id="frame1" class="section section--frame1 frame1">
            <div class="section__background">
                <img src="@(mediaurl)images/bg1-m.jpg" class="d-block d-lg-none" alt="">
                <img src="@(mediaurl)images/bg1.jpg" class="d-none d-lg-block" alt="">
            </div>
            <div class="section__content">
                <div class="content-container2">
                    <div class="logo"><img src="@(mediaurl)images/logo.png" class="img-responsive d-none d-lg-block" alt="" /><img src="@(mediaurl)images/icon.png" class="img-responsive d-block d-lg-none" alt="" /></div>
                    <header class="header" id="header">
                        <div class="header-menu">
                            <a href="http://daosixuatquan.splay.vn/" target="_blank" class="menu home"> <img src="@(mediaurl)images/ic-home.png" class="img-responsive" alt=""> </a>
                            <a href="https://www.facebook.com/daosixuatquan.vn/" target="_blank" class="menu fanpage"> <img src="@(mediaurl)images/ic-fb.png" class="img-responsive" alt=""> </a>
                            <a href="https://www.facebook.com/groups/daosixuatquan.vn/" target="_blank" class="menu group"> <img src="@(mediaurl)images/ic-group.png" class="img-responsive" alt=""> </a>
                        </div>
                    </header>
                    <div class="bt-group">
                        <ul>
                            <li><a href="javascript:void(0)" class="show-top2"><img class="img1" src="@(mediaurl)images/top2.png" alt=""></a></li>
                            <li><a href="javascript:void(0)" class="show-top1"><img class="img2" src="@(mediaurl)images/top1.png" alt=""></a></li>
                            <li><a href="javascript:void(0)" class="show-top3"><img class="img3" src="@(mediaurl)images/top3.png" alt=""></a></li>
                        </ul>
                    </div>
                    <a href="https://zalo.me/0866802073" target="_blank" class="nap-bt napck-bt"><img src="@(mediaurl)images/bt-nap.png" class="img-responsive" alt="Nạp chuyển khoản nhận quà"></a>
                    <a href="javascript:void(0)" class="thele-bt thele1-bt show-thele"><img src="@(mediaurl)images/bt-thele.png" class="img-responsive" alt="Thể lệ"></a>
                </div>
            </div>
            <div id="animation_container" class="star">
                <canvas id="canvas" width="1920" height="1080" class="img-responsive"></canvas>
                <div id="dom_overlay_container" class="star-box"></div>
            </div>
        </section>
        <section id="frame2" class="section section--frame2 frame2">
            <div class="section__background">
                <img src="@(mediaurl)images/bg2-m.jpg" class="d-block d-lg-none" alt="">
                <img src="@(mediaurl)images/bg2.jpg" class="d-none d-lg-block" alt="">
            </div>
            @RenderBody()

        </section>
        <section id="footer" class="section section--footer footer">
            <div class="section__content">
                <div class="container">
                    <div class="section__inner footer__inner">
                        <div id="footer-content">
                            <div class="vtc-logo"> <img src="@(mediaurl)images/vtc.png" class="img-responsive" alt=""> </div>
                            <div class="footer-text f-roboto-light">
                                Công ty cổ phần VTC Dịch vụ di động - Tầng 11, Tòa nhà VTC Online<br>
                                Số 18 Tam Trinh phường Minh Khai, quận Hai Bà Trưng, Hà Nội<br>
                                SĐT : (84-4).39877470 | Email : vtcmobile@vtc.vn<br>
                                Người chịu trách nhiệm quản lý nội dung: Ông Nguyễn Viết Quang Minh.<br>
                                Giấy phép phê duyệt nội dung kịch bản trò chơi điện tử trên mạng số 83/QĐ-BTTTT<br>
                                <a href="https://daosixuatquan.vn/huong-dan-cai-dat-go-bo.html" target="_blank">Hướng dẫn cài đặt</a> | <a href="https://daosixuatquan.vn/dieu-khoan-su-dung.html" target="_blank">Điều khoản</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @RenderSection("script", required: false)
    </div>

    <!-- Fixed box
    <div class="nav_right open">
      <p class="text_center qr_code"> <span><img src="images/qrcode.jpg" width="120" height="120" class="qrcode" alt=""><i></i></span> </p>
      <ul class="buttai">
        <li class="app-info__install--pc button-appstore"> <a class="" id="ios" target="_blank" href="" title="Tải Appstore"></a> </li>
        <li class="app-info__install--pc button-googleplay"> <a class="" id="android" target="_blank" href="" title="Tải Googleplay"></a> </li>
        <li class="app-info__install--pc button-apk"> <a class="" id="pc" target="_blank" href="" title="Tải APK"></a> </li>
        <li class="app-info__install--pc button-nox"> <a class="" id="nox" target="_blank" href="" title="Tải NOX"></a> </li>
      </ul>
      <span class="gift_code text_center"> <a href="javascript:void(0)" class="show-code" title="Giftcode"> <img class="lazy" alt="" src="images/giftcode.png" /> </a> </span> <span class="top text_center"> <a href="#frame1" title="top"> <img src="images/top.png" alt="top" /> </a> </span> <span class="i_control"></span>
    </div>-->

    <script type="text/javascript" src="@(mediaurl)js/1.promotion.bundle.js"></script>
    <script type="text/javascript" src="@(mediaurl)js/promotion.bundle.js"></script>

    <!-- slide anh frame1-->
    <script src="@(mediaurl)js/slide/swiper.min.js"></script>
    <script src="@(mediaurl)js/slide/index.js"></script>

    <!-- Popup the le -->
    <div class="popup popup-detail" id="popup-thele" style="display: none;">
        <div class="content-popup">
            <div class="wrapper-popup">
                <div class="title-detail ">
                    <img class="img-responsive center-align" src="@(mediaurl)images/title.png" alt="thể lệ">
                </div>
                <div class="content-new-detail scrollbar-inner">
                    <div class="text f-roboto-medium">
                        <p class="center-align"><span>Các Đạo Trưởng thân mến,</span></p>
                        <p>Mừng ra mắt Cụm Server Mới: Nhất Niên. Thời khắc sôi sục để tranh đua, hãy cùng tham chiến tại "Đua Top Lực Chiến Cụm SV Mới Nhất Niên" và nhận về vô vàn giải thưởng giá trị hiếm và cao. Thông tin chi tiết:</p>
 <p>⏰ <span>Thời gian đua TOP:</span> 10:00 18/05 - 10:00 27/05/2023 </p>
 <p>🔴 <span>Đối tượng:</span> Toàn bộ Đạo Sĩ ở các server mới thuộc cụm SV Nhất Niên đều có thể tham gia Đua TOP Lực Chiến lần này.</p>
 <p>🔴 <span>Chi tiết:</span></p>
 <p>- Trong thời gian đua TOP, các Đạo Sĩ có [Tổng Lực Chiến] cao nhất tại cụm SV mới Nhất Niên sẽ là người dành chiến thắng với các phần thưởng tương ứng.</p>
 	<p>- Bảng xếp hạng sẽ tính dựa trên [Tổng Lực Chiến] của cá nhân Đạo sĩ tham gia.</p>
	<p>- Vào 10:00 ngày 27/05/2023 sẽ chốt tổng kết bảng xếp hạng lực chiến cá nhân của Đạo Sĩ tham gia.</p>
 <p><span>PHẦN THƯỞNG:</span></p>
 <p>🥇<span>TOP 1</span></br>
	 - Scoin 5.000.000</br>
	 - 1 Thỉnh thần Ngũ Sắc - Lý Ngư Tiên Tử</br>
	 - 60 Mảnh Thánh Khí Lý Ngư Tiên Tử</br>
	 - 1 Bộ Danh Thiếp Đệ Nhất Đạo Sĩ</br>
	 - 1 Danh Hiệu Top Lực Chiến Giá Lâm</br>
	 - 50.000 Ngân Phiếu</br>
 </p>
	</br>
 <p>🥈<span>TOP 2</span></br>
	 - Scoin 3.000.000</br>
	 - 1 Thỉnh thần Ngũ Sắc - Lý Ngư Tiên Tử</br>
	 - 50 Mảnh Thánh Khí Lý Ngư Tiên Tử</br>
	 - 1 Danh Hiệu Top Lực Chiến Giá Lâm</br>
	 - 30.000 Ngân Phiếu</br>
 </p>
	</br>
 <p>🥉<span>TOP 3</span></br>
	 - Scoin 2.000.000</br>
	 - 1 Thỉnh thần Ngũ Sắc - Lý Ngư Tiên Tử</br>
	 - 40 Mảnh Thánh Khí Lý Ngư Tiên Tử</br>
	 - 1 Danh Hiệu Top Lực Chiến Giá Lâm</br>
	 - 20.000 Ngân Phiếu</br>
 </p>
	</br>
 <p>🥉<span>TOP 4 - TOP 10</span></br>
	 - 1 Thỉnh Thần Lý Ngư Tiên Tử</br>
	 - 5.000 Ngân Phiếu</br>
 </p>
	</br>
                        <p>
                            <span>LƯU Ý:</span></br>
                            - Những Đạo Sĩ có hành vi hoặc dấu hiện gian lận, dùng Vàng không hợp pháp, cố tình trục lợi từ Bug của game đều sẽ bị hủy tư cách tham gia đua top.</br>
                            - Phần quà ingame sẽ trao trong khoảng 1-5 ngày sau khi kết thúc đua top. Chú ý: Quà HIỆN VẬT sẽ trao từ khoảng 15-30 ngày kể từ khi kết thúc đua top.</br>
                            - Trong mọi trường hợp, BTC sẽ là người đưa ra quyết định cuối cùng.</br>
                        </p>
                    </div>
                </div>
                <a class="close-content"></a>
            </div>
        </div>
    </div>

    <!-- Popup qua top 1 -->
    <div class="popup popup-detail" id="popup-top1" style="display: none;">
        <div class="content-popup">
            <div class="wrapper-popup2">
                <div class="title-detail ">
                    <img class="img-responsive center-align" src="@(mediaurl)images/title2.png" alt="thể lệ">
                </div>
                <div class="content-new-detail scrollbar-inner">
                    <div class="text f-roboto-medium">
                        <img class="img-responsive center-align" src="@(mediaurl)images/gift-top1.png" alt="Quà top 1">
                    </div>
                </div>
                <a class="close-content"></a>
            </div>
        </div>
    </div>

    <!-- Popup qua top 2 -->
    <div class="popup popup-detail" id="popup-top2" style="display: none;">
        <div class="content-popup">
            <div class="wrapper-popup2">
                <div class="title-detail ">
                    <img class="img-responsive center-align" src="@(mediaurl)images/title3.png" alt="thể lệ">
                </div>
                <div class="content-new-detail scrollbar-inner">
                    <div class="text f-roboto-medium">
                        <img class="img-responsive center-align" src="@(mediaurl)images/gift-top2.png" alt="Quà top 1">
                    </div>
                </div>
                <a class="close-content"></a>
            </div>
        </div>
    </div>

    <!-- Popup qua top 3 -->
    <div class="popup popup-detail" id="popup-top3" style="display: none;">
        <div class="content-popup">
            <div class="wrapper-popup2">
                <div class="title-detail ">
                    <img class="img-responsive center-align" src="@(mediaurl)images/title4.png" alt="thể lệ">
                </div>
                <div class="content-new-detail scrollbar-inner">
                    <div class="text f-roboto-medium">
                        <img class="img-responsive center-align" src="@(mediaurl)images/gift-top3.png" alt="Quà top 1">
                    </div>
                </div>
                <a class="close-content"></a>
            </div>
        </div>
    </div>

    <!-- popup--->
    <script type="text/javascript" src="@(mediaurl)js/vendor.js"></script>
    <script type="text/javascript" src="@(mediaurl)js/bootstrap.min.js?v=1.2.6"></script>

    <script>
        $(document).ready(function () {
            $('.close-content').click(function () {
                $('.popup').fadeOut();
            });
            $('.show-thele').click(function () {
                $('#popup-thele').fadeIn();
            });
            $('.show-top1').click(function () {
                $('#popup-top1').fadeIn();
            });
            $('.show-top2').click(function () {
                $('#popup-top2').fadeIn();
            });
            $('.show-top3').click(function () {
                $('#popup-top3').fadeIn();
            });
            // scroll
            jQuery(document).ready(function () {
                jQuery('.content-new-detail').scrollbar();
            });
        });
    </script>
</body>
</html>
